body{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;

}

header{
    text-align: center;
    background-color: #121212;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

#descricao{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

#button-field button{
   padding: 5px 15px;
   border-radius: 3px;
   border: 1px solid #121212;
}

main{
    display: flex;
    flex-direction: column;
    
}

#button-field{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#images{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

section > #title-atracoes{
    text-align: center;
}

#img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#img p{
    max-width: 280px;
}

img{
    width: 300px;
}

footer{
    text-align: center;
}